import json
from ingredients import load_ingredients, display_ingredients, update_availability, save_ingredients
from showConfigMenu import load_user_preferences, save_user_preferences, select_preferences, reset_preferences
from displayFilterReipe import load_recipes, filter_recipes, display_filtered_recipes, MakeWeeklyPlan, displayWeeklyPlan, save_weekly_plan_to_csv
from resetIngredients import reset_ingredient_availability
from resetJson import reset_preferences_to_zero
from shoppingList import generate_shopping_list, display_shopping_list, save_shopping_list
import time
from newPiChart import load_csv, count_tags, plot_pie_chart
from resetWeekly import reset_csv


MUST INSTALL MATPLOTLIB TO RUN IT
